
.app-title{
    color:whitesmoke;
    font-family: 'Smooch', cursive;
    font-size:75px;
    background:#EB5353;
    margin-top:0;
    margin-left:0;
    height:100px;
    text-align:center;
    padding-top:1%;
}


