.pagination{

}
.page{
    padding:2px;
    border-right:1px solid white;
    background-color: rgb(214, 235, 254);
    padding-left:10px;
    padding-right:10px;
    /* border: 1px solid black; */
    margin:5px;
}
.page:hover{
    background:rgb(84, 169, 248);
    color:whitesmoke;
}